
version: "3.9"

services:
  slack-bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: slack-bot
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "3005:3005"
